* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #32325f;
}

.container {
  max-width: 1140px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 159px;
}

.brand {
  color: #95989a;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.social a {
  text-decoration: none;
  margin-right: 20px;
}

.hero {
  padding-top: 70px;
  padding-bottom: 190px;
  background-color: #f4f5f7;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text {
  width: 50%;
}

.subtitle {
  display: block;
  margin-bottom: 15px;

  font-size: 20px;
  font-weight: 400;
}

.title {
  display: block;
  margin-bottom: 26px;

  font-size: 48px;
  font-weight: 700;
}

.description {
  margin-bottom: 16px;
  font-size: 20px;

  font-weight: 400;
  line-height: 26px;
}

.price-tag {
  display: block;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 400;
}

.price {
  display: block;
  margin-bottom: 49px;

  font-size: 48px;
  font-weight: 400;
}

.btn {
  display: inline-block;
  box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
  border-radius: 6px;
  text-decoration: none;
  padding: 20px 30px;
  color: #fff;
}

.btn-succes {
  background-color: #2dce89;
  margin-right: 20px;
}

.btn-primary {
  background-color: #5e72e4;
}

/* Section formatting */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-subtitle {
  display: block;
  margin-bottom: 16px;

  font-size: 20px;
  font-weight: 400;
}

.section-title {
  display: block;

  font-size: 48px;
  font-weight: 700;
}


/* about section */
.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}

.block {
  min-width: 240px;
  width: 23%;
  margin-right: 2%;
}

.block-text {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}


/* people-section */
.people {
  background-color: #f4f5f7;
}

.wrap-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 27px;
}

.wrap-people img {
  width: 362px;
  height: 254px;
  margin-top: 36px;
  margin-right: 1%;
}


/* footer */
.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #32325f;
  color: #fff;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-block {
  min-width: 260px;
  width: 33%;
  margin-bottom: 20px;
}

.footer-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 35px;
}

.footer a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.footer p {
  line-height: 1.4;
}