*, *:before, *:after {
  box-sizing: border-box;
  /* margin: 0; */
}

/* repetable */

.header {
  text-align: center;
  padding-top: 10px;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.note {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.line-thru {
  text-decoration: line-through;
}

/* general */

body {
  /* Блочная модель */
  margin: auto;
  width: 1140px;
  /* Оформление */
  background-image: url("../img/background.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* introduction */

.intro-block {
  background-color: rgba(246, 251, 253, 0.911);
  
}

.introduction {
  /* Блочная модель */
  max-width: 95%;
  margin: auto;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* Типографика */
  text-align: center;
  font-style: italic;
  font-size: 16px;
  /* Оформление */
  border: solid 2px;
}

/* first-page */

.first-page {
  background-color: rgba(255, 254, 249, 0.911);
}

.name-page {
  /* Блочная модель */
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 95%;
  margin: auto;
}

.book-header {
  font-size: 50px;
}

.table-of-contents {
  padding-top: 15px;
}

/* chapter-1 */

.chapter-1 {
  background-color: rgba(255, 247, 247, 0.911);
}


.chapter-1-main {
  /* Блочная модель */
  max-width: 95%;
  margin: auto;
  padding-bottom: 20px;
}

/* chapter-2 */

.chapter-2 {
  background-color: rgba(242, 255, 245, 0.911);
}


.chapter-2-main {
  /* Блочная модель */
  max-width: 95%;
  margin: auto;
  padding-bottom: 20px;
}

/* chapter-3 */

.chapter-3 {
  background-color: rgba(254, 255, 242, 0.911);
}

.chapter-3-main {
  /* Блочная модель */
  max-width: 95%;
  margin: auto;
  padding-bottom: 20px;
}

/* chapter-4 */

.chapter-4 {
  background-color: rgba(242, 248, 255, 0.911);
}

.chapter-4-main {
  /* Блочная модель */
  max-width: 95%;
  margin: auto;
  padding-bottom: 20px;
}

/* chapter-5 */

.chapter-5 {
  background-color: rgba(242, 255, 247, 0.911);
}

.chapter-5-main {
  /* Блочная модель */
  max-width: 95%;
  margin: auto;
  padding-bottom: 20px;
}

