* {
  box-sizing: border-box;
}

body {
  font-family: "Tahoma", sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 80px;
}

.column {
  margin-bottom: 20px;
  text-align: center;
}

.column h2 {
  color: #333333;
  font-family: Tahoma;
  font-size: 16px;
  font-weight: 700;
}

.image {
  height: 72px;
}