* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;

}

.container {

  max-width: 1010px;
  width: 90%;
  background-color: #fff;

}

.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.image {
  padding: 64px 48px;
}

.main {
  max-width: 393px;
  min-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #2f2f2f;
}

.main h1 {
  padding-bottom: 30px;
  font-size: 23px;
  font-weight: 700;
}

.main p {
  padding-bottom: 55px;
  font-size: 15px;
  line-height: 130%;
}

.main span {
  padding-bottom: 23px;
  font-size: 15px;
}

.main strong {
  margin-bottom: 56px;
  font-size: 30px;
  font-weight: 400;
}

.main a {
  padding: 16px 39px;
  background-color: #ec744a;
  color: #ffffff;
  font-size: 19px;
  border: none;
  cursor: pointer;
  outline: none;
}